<main class="loc-tasks">

  <section class="loc-tasks__content container">

    <div class="loc-tasks__header">

      <h1>Minhas tarefas</h1>

      <button
        mat-flat-button
        color="accent"
        (click)="addEmptyTask()"
      >
        <div class="loc-tasks__add-button">
          <mat-icon>add</mat-icon>
          Adicionar tarefa
        </div>
      </button>

    </div>

    <div class="loc-tasks__body">

      <div class="row">

        <div class="col-md-12">

          <mat-card class="example-card">

            <div class="loc-tasks__controllers">

              <mat-form-field
                class="loc-tasks__search-input"
                appearance="fill"
              >
                <mat-label>Encontre sua tarefa</mat-label>

                <input
                  matInput
                  [(ngModel)]="queryFilter"
                  placeholder="Digite o nome da sua tarefa"
                >

                <mat-icon matSuffix>search</mat-icon>

              </mat-form-field>
            </div>

            <mat-card-content>

              <loc-task-list
                *ngIf="!(loading$ | async); else spinner"
                [tasks]="(task$ | async) | scoredFilter : queryFilter: 'label' : 10"
                [selectedTaskId]="(selectedTaskId$ | async)"
                (add)="addEmptyTask()"
                (edit)="selectTask($event)"
                (update)="updateTask($event)"
                (done)="doneTask($event)"
                (remove)="removeTask($event)"
              ></loc-task-list>

              <ng-template #spinner>
                <loc-loading
                  data-testid="loc-tasks-loading"
                ></loc-loading>
              </ng-template>


            </mat-card-content>

          </mat-card>

        </div>

      </div>

    </div>

  </section>

</main>
