<mat-selection-list
  class="loc-task-list"
  *ngIf="tasks?.length"
  (selectionChange)="selectionChange($event)"
>

  <mat-list-option
    class="loc-task-list__item"
    *ngFor="let task of tasks"
    [color]="'primary'"
    [checkboxPosition]="'before'"
    [value]="task.id"
    [selected]="task.done"
  >

    <loc-task-item
      [task]="task"
      [editing]="task.id === selectedTaskId"
      (editTask)="edit.emit($event)"
      (removeTask)="remove.emit($event)"
      (updateTask)="update.emit($event)"
    ></loc-task-item>

  </mat-list-option>

</mat-selection-list>

<loc-item-not-found
  *ngIf="!tasks?.length"
  [label]="'Nenhuma tarefa cadastrada até o momento.'"
  [buttonLabel]="'Nova tarefa'"
  (add)="add.emit()"
></loc-item-not-found>
